.text-input {
    width: 80%;
    padding: 10px 15px;
    margin-bottom: 16px;
    border: 1px solid #9ca3af;
    border-radius: 12px;
    font-size: 12px;
    outline: none;
}

.text-input:focus {
    border-color: #0763C2;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.button {
    width: 80%;
    padding: 12px;
    background-color: #0763C2;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
}

